@import "../../_variables.scss";

.hero__imagebackground{
  background: $primary;
  height: 100vh;
  position: absolute;
  width: 24vw;
  right: 0;
  z-index: -1;
  pointer-events: none;
}

.hero__title{
  font-family: $font-family-primary;
  color: $primary
}

.hero__container{
  display: flex;
  align-items: center;
}

.hero__subtitle{
  font-family: $font-family-secondary;
  color: $primary
}