@import "../../_variables.scss";

.welcome{
  margin-top: pxToRem(70);
  margin-left: auto;
  margin-right: auto;
  gap: pxToRem(165)
}

.welcome__title{
  font-family: $font-family-primary;
  max-width: 45rem;
}

.welcome__content,
.welcome__subtitle{
  font-family: $font-family-secondary;
}

.welcome__content{
  line-height: 1.9rem !important;
}

.welcome__anchorlink {
  &:hover {
    color: $secondary;
  }
}


//Media queries
@media screen and (min-width: 768px) {
  .welcome {
    margin-top: pxToRem(121);
  }
}