@import "../../_variables.scss";

.didyouknow {
  margin-top: pxToRem(160);
}

.didyouknow__title {
  font-family: $font-family-primary;
  margin-bottom: 2rem;
  color: $primary;
}

.didyouknow__subtitle {
  font-family: $font-family-secondary;
  margin-bottom: 2rem;
  color: $primary;
  line-height: pxToRem(40);
}

.didyouknow__content {
  font-family: $font-family-secondary;
  color: $primary;
  line-height: 1.9rem !important;
}

.didyouknow {
  .carousel-image-container {
    position: relative;
    overflow: hidden;
  }

  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(122, 46, 9, 0.73);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .owl-item.active .carousel-item:hover .carousel-overlay {
    opacity: 1;
  }

  .didyouknow-carousel {
    .carousel__title {
      color: var(--bs-white);
      font-family: $font-family-secondary;
      margin-bottom: pxToRem(40);
      font-weight: 500;
      line-height: pxToRem(44) !important;
    }

    .carousel__contentcontainer {
      display: flex;
      position: absolute;
      top: 0;
      height: 100%;
      padding-left: 2.75rem;
      padding-right: 3.375rem;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: pxToRem(62);
    }

    .carousel__read{
      color: var(--bs-white);
      font-family: $font-family-secondary;
      font-size: pxToRem(16);
      line-height: pxToRem(30);
      gap: 1.3rem;
    }
  }
}

//Media Queries
@media screen and (min-width: 769px) {
  .didyouknow {
    .didyouknow__subtitle {
      font-family: $font-family-secondary;
      margin-bottom: 2rem;
      color: $primary;
      line-height: pxToRem(34);
    }


    .didyouknow-carousel {
      .carousel__title {
        color: var(--bs-white);
        font-family: $font-family-secondary;
        margin-bottom: pxToRem(40);
        font-weight: 500;
        line-height: pxToRem(48) !important;
      }
    }
  }
}