@import '_variables.scss';
@import 'mixins.scss';

#primary-footer {
  background: $black-2;
  margin-top: pxToRem(131);
}

.footer__title {
  color: var(--bs-white);
  font-family: $font-family-secondary;
  font-size: pxToRem(18);
  line-height: pxToRem(24);
}

.footer-navigation {
  li {
    list-style-type: none;
    font-family: $font-family-secondary;
    font-size: pxToRem(18);
    line-height: pxToRem(34);
  }

  ul {
    padding-left: 0;
  }

  a {
    color: var(--bs-white);

    &:focus,
    &:visited {
      color: var(--bs-white);
    }

    &:hover {
      color: $orange-1;
    }
  }
}

.footer__linkscontainer {
  margin-top: pxToRem(59);
  margin-bottom: pxToRem(32);
}

.footer__privacy,
.footer__anchorlink,
.footer__socials i,
.footer__email,
.footer__phone {
  cursor: pointer;
  text-align: left;
  font: normal normal medium $font-family-secondary;
  letter-spacing: 0;
  font-size: pxToRem(18);
  line-height: pxToRem(34);
  color: var(--bs-white);
  text-decoration: none;

  &:focus,
  &:visited {
    color: var(--bs-white);
  }

  &:hover {
    color: $orange-1;
  }
}

.footer__copyright,
.footer__jointeam {
  font: normal normal medium $font-family-secondary;
  letter-spacing: 0;
  font-size: pxToRem(18);
  line-height: pxToRem(34);
  color: var(--bs-white);
}

.footer__wrapper {
  padding-bottom: pxToRem(80);
  border-bottom: 2px solid var(--bs-white);
}

.footer__disclaimer {
  margin-top: pxToRem(36);
  padding-bottom: pxToRem(34);
}


.footer__companyname {
  color: var(--bs-white);
  font-size: pxToRem(24);
  line-height: pxToRem(43);
  font-family: $font-family-primary;
}

@media screen and (min-width: 1321px) {
  .footer__companyname {
    font-size: pxToRem(40);
    line-height: pxToRem(50);
  }
}