@import '_variables.scss';
@import "_mixins.scss";
@import "home/welcome/welcome.scss";
@import "home/features_brands/features_brands.scss";
@import "home/events/events.scss";
@import "home/services/services.scss";
@import "home/didyouknow/didyouknow.scss";
@import "home/portfolio/portfolio.scss";

.custom-nav-prev,
.custom-nav-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  color: white;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.custom-nav-prev {
  left: 0;
}

.custom-nav-next {
  right: 0;
}

@media screen and (min-width: 1919px) {
  .custom-nav-prev,
  .custom-nav-next {
    width: 80px;
    height: 80px;
  }

  .custom-nav-prev {
    left: -40px;
  }

  .custom-nav-next {
    right: -40px;
  }
}