@import "../../_variables.scss";

.portfolio {
  .portfolio__title {
    font-family: $font-family-primary;
    color: $primary;
    margin-bottom: pxToRem(21);
  }

  .portfolio__subtitle,
  .portfolio__content {
    font-family: $font-family-secondary;
    color: $primary;
  }

  .portfolio__subtitle {
    margin-bottom: pxToRem(21);
  }

  .portfolio__content {
    margin-bottom: pxToRem(91) !important;
  }

  .portfolio__drinks {
    border-bottom: 1px solid;

    li {
      list-style-type: none;
    }
  }

  .portfolio__featuredproductstitle {
    font-family: $font-family-secondary;
    font-size: pxToRem(20);
    line-height: pxToRem(30);
    margin-bottom: pxToRem(37);
  }

  .icon-plus, .icon-minus {
    margin-right: 5px;
    transition: transform 0.3s ease;
  }

  .subcategory-list {
    margin-left: 20px;

    .category-child-name:first-child {
      margin-top: pxToRem(16);
    }
  }

  .category-name {
    font-family: $font-family-secondary;
    font-size: pxToRem(20);
    line-height: pxToRem(30);
    color: $primary;
    opacity: 1;
    letter-spacing: 2px;

    &:hover {
      color: $secondary;
    }
  }

  .category-item {
    margin-bottom: pxToRem(16);
  }

  .category-child-name {
    font-family: $font-family-secondary;
    font-size: pxToRem(20);
    line-height: pxToRem(30);
    color: $primary;
    margin-bottom: pxToRem(16);
    cursor: pointer;

    &:hover {
      color: $secondary;
    }
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 145.33%;
    overflow: hidden;
  }


  .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: contain;
    max-height: 529px;
    right: 0;
    width: 45%;
    padding: 30px 0;
    margin: 0 auto;
  }

  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(48, 41, 33, 0.9);;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding-top: pxToRem(226);
  }

  .carousel__title {
    color: white;
    margin: 0;
    font-size: pxToRem(24);
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: pxToRem(26);
    text-transform: none;
    font-family: $font-family-secondary;
  }

  .carousel-item {
    border: 1px solid $black-2;
  }

  .carousel__subtitle {
    font-size: pxToRem(16);
    letter-spacing: 0.8px;
    line-height: pxToRem(20);
    margin-top: pxToRem(8);
    color: var(--bs-white);
    font-family: $font-family-secondary;
    text-align: center;
    position: relative;
  }

  .carousel__titlewrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(48, 41, 33, 0.9);
    padding: pxToRem(18);
  }

  .owl-item.active .carousel-item:hover .carousel-overlay {
    opacity: 1;
  }

  .owl-item.active .carousel-item:hover .carousel__titlewrapper {
    display: none;
  }

  .carousel__titleoverlay {
    font-size: pxToRem(40);
    font-weight: 500;
    margin-bottom: 0;
    line-height: pxToRem(30);
    color: var(--bs-white);
    text-align: center;
    font-family: $font-family-secondary;
  }

  .carousel__subtitleoverlay {
    font-size: pxToRem(16);
    line-height: pxToRem(20);
    margin-top: pxToRem(12);
    margin-bottom: pxToRem(8);
    color: var(--bs-white);
    text-align: center;
  }

  .carousel__categoryitemlist {
    font-size: pxToRem(16);
    line-height: pxToRem(25);
    margin-top: pxToRem(16);
    color: var(--bs-white);
    text-align: center;
    list-style: none;
    padding: 0;
    letter-spacing: 0.8px;
  }

  .carousel__categoryitem {
    margin-bottom: 0.3rem;
  }

  .carousel__viewproduct {
    font-size: pxToRem(16);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-top: pxToRem(15);
    color: var(--bs-white);
    text-align: center;
  }

  .icon-long-arrow-right{
    color: var(--bs-white);
    text-align: center;
  }

  .carousel__region{
    color: var(--bs-white);
    text-align: center;
    font-family: $font-family-secondary;
  }
}