@import "../../_variables.scss";

.services {
  background: url(./../img/services-bg.webp) $black-2;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: pxToRem(858);
}

.services__containerimage--absolute {
  transform: translateY(80px);
}

.services__title {
  font-family: $font-family-primary;
  color: var(--bs-white);
}

.services__subtitle {
  font-family: $font-family-secondary;
  color: var(--bs-white);
  margin-bottom: pxToRem(34);
  line-height: pxToRem(34);
}

.services__content {
  font-family: $font-family-secondary;
  color: var(--bs-white);
  font-size: pxToRem(18);
  line-height: pxToRem(30);
  margin-bottom: pxToRem(50) !important;
}

.content {
  padding-top: pxToRem(126);
}

.services__anchorlink {
  color: var(--bs-white);

  &:focus,
  &:visited,
  &:hover {
    color: var(--bs-white);
  }
}

//Media Queries
@media screen and (min-width: 769px) {
  .services__containerimage--absolute {
    position: absolute;
    top: pxToRem(30);
    left: 0;
  }
  .services {
    padding-bottom: 0;
  }
  .content {
    padding-bottom: pxToRem(50)
  }
  .services__containerimage--absolute {
    picture {
      position: relative;
    }
  }
  .services__image {
    max-width: 100% !important;
  }

  .services__subtitle {
    line-height: pxToRem(48);
  }

  .services__containerimage--absolute {
    transform: unset;
  }
}